*{
    padding: 0px;
    margin: 0px;
    color: white;
    background-color: black;
    /* border-radius: 10px; */
}
#container{
    display: grid;
    grid-gap: 1rem;
    grid-template-areas:
        'navbar'
        'section'
        'footer';
}
head{
    display: none;
}
title{
    display: none;
}
nav{
    display: navbar;
    display: grid;
    grid-auto-flow: row;
    
    
}
nav li{
    display: inline-block;
}
nav ul li img{
    width: 2rem;
    height: 2rem;
}

nav ul li a{
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color: rgb(39, 37, 37);
    font-size: 1.3rem;
    border: 2px solid black;
}
.hov:hover{
    border: 2px solid red;
    background-color: rgb(247, 224, 191);
    color: red;
}
section{
    display: section;
}
footer{
    display: footer;
    text-align: center;
    font-size: 1.2rem;

}
nav, footer{
    background-color: rgb(39, 37, 37);
}
.error{
    color: yellow;
    background-color: red;
    font-weight: bolder;
}

.centre_t{
    margin: auto;
    text-align: center;
}

.form_grid{
    display: grid;
    justify-content: center;
    grid-gap: 0.5rem;
}
.form_grid h1,h3{
    background-color: rgb(39, 37, 37);
    width: 50vw;
}
.form_grid input,.submit_button{
    border: 0.1px solid rgb(192, 65, 65);
}


.button_div{
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    grid-gap: 10px;
}
.submit_button{
    display: grid;
    font-size: 1.3rem;
    background-color: rgb(39, 37, 37);
    width: 15vw;
    justify-content: center;
    text-align: center;
    text-decoration: none;
}
#name,#logout{
    border: 2px solid #86de86;
    border-radius: 0px;
    padding: 0.5rem 1rem;
    font-size: 1.4rem;
    font-weight: bolder;
    background-color: #0d0148;
    color: #9bf9ed;

}
#logout:hover{
    color: red;
    background-color: white;
}


